.PaymentCard {
  @media (max-width: 769px) {
    font-size: 14px;
    padding: 18px 12px;
    background-color: var(--dark-color-500);
    border: 1px solid var(--dark-color-300);
    border-radius: 2px;

    .bold {
      font-weight: 700;
    }
  }
}