.content {
  //padding: 30px 24px 36px 24px;
  max-width: 378px;
  display: flex;
  row-gap: 18px;
  flex-direction: column;
  @media (max-width: 425px) {
    padding: 12px;
  }
}

.text {
  color: var(--light-100, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  //text-align: justify;
  @media (max-width: 425px) {
    text-align: center;
  }
}

.buttonContainer {
  align-self: flex-end;
  @media (max-width: 425px) {
    display: block;
    width: 100%;
  }
}

.button {
  min-width: 96px;
  box-sizing: border-box;
  border-radius: 2px;
  background: var(--primary-500, #397df6);
  @media (max-width: 425px) {
    min-width: 100%;
    padding: 14px 24px;
  }
}
