.backToBlock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100vw;
}

.arrowAndTextBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--light-color-700);
  margin: 0 0 0 60px;

  p {
    display: inline-block;
    margin-left: 10px;
  }
}