.ProfileSettings {
  padding: 36px 0px 36px 15px; 

  @media screen and (max-width: 768px) {
    padding: 24px 0px;
  }
}

.tabs {
  @media screen and (max-width: 768px) {
    overflow-x: scroll;
  }
}