
.customCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkboxLabel {
  display: flex;
  margin: 0 10px;
  cursor: pointer;
}

.checkboxLabel::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--light-color-100);
  border-radius: 3px;

}

.customCheckbox:checked + .checkboxLabel::before {
  background-image: url('../../../shared/assets/icons/check.svg');
}
