.Button {
  min-width: 182px;
  font-weight: 600;
  padding: 6px 24px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.primary {
  color: var(--light-color-500);
  background-color: var(--accent-color-500);
}
.primary:hover {
  background-color: var(--accent-color-100);
  color: var(--light-color-100);
}
.primary:active {
  background-color: var(--accent-color-700);
  color: var(--light-color-500);
}
.primary:focus {
  outline: 2px solid var(--accent-color-700);
  color: var(--primary-text-color);
}
.primary[disabled=true] {
  background-color: var(--accent-color-900);
  color: var(--light-color-900);
}

.secondary {
  color: var(--primary-text-color);
  background-color: var(--dark-color-300);
}
.secondary:hover {
  background-color: var(--dark-color-100);
  color: var(--light-color-100);
}
.secondary:active {
  background-color: #212121;
}
.secondary:focus {
  outline: 1px solid var(--accent-color-300);
  color: var(--primary-text-color);
}
.secondary[disabled=true] {
  background-color: var(--dark-color-500);
  color: var(--light-color-900);
}

.outlined {
  color: var(--accent-color-500);
  background-color: transparent;
  border: 1px solid var(--accent-color-500);
}
.outlined:hover {
  color: var(--accent-color-100);
  border: 1px solid var(--accent-color-100);
}
.outlined:active {
  color: var(--accent-color-700);
  border: 1px solid var(--accent-color-700);
}
.outlined:focus {
  color: var(--accent-color-700);
  border: 2px solid var(--accent-color-700);
}
.outlined[disabled=true] {
  color: var(--accent-color-900);
  border: 1px solid var(--accent-color-900);
}

.text {
  width: auto;
  color: var(--accent-color-500);
  background-color: transparent;
}
.text:hover {
  color: var(--accent-color-100);
}
.text:active {
  color: var(--accent-color-700);
}
.text:focus {
  color: var(--accent-color-700);
  border: 2px solid var(--accent-color-700);
}
.text[disabled=true] {
  color: var(--accent-color-900);
}