.header {
  border-bottom: solid 1px var(--dark-color-300);
}
.header .headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 0 60px 0 60px;
}
.header .headerContainer .logo {
  display: inline-flex;
  align-items: center;
}
.header .headerContainer .right {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header .headerContainer .right span {
  display: inline-flex;
  align-items: center;
}