@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

:root {
  --accent-color-100: #73a5ff;
  --accent-color-300: #4c8dff;
  --accent-color-500: #397df6;
  --accent-color-700: #2f68cc;
  --accent-color-900: #234e99;
  --success-color-100: #80ffbf;
  --success-color-300: #22e584;
  --success-color-500: #14cc70;
  --success-color-700: #0f9954;
  --success-color-900: #0a6638;
  --danger-color-100: #ff8099;
  --danger-color-300: #f23d61;
  --danger-color-500: #cc1439;
  --danger-color-700: #990f2b;
  --danger-color-900: #660a1d;
  --warning-color-100: #ffd073;
  --warning-color-300: #e5ac39;
  --warning-color-500: #d99000;
  --warning-color-700: #996600;
  --warning-color-900: #664400;
  --dark-color-100: #4c4c4c;
  --dark-color-300: #333333;
  --dark-color-500: #171717;
  --dark-color-700: #0d0d0d;
  --dark-color-900: #000000;
  --light-color-100: #ffffff;
  --light-color-300: #f7fbff;
  --light-color-500: #edf3fa;
  --light-color-700: #d5dae0;
  --light-color-900: #8d9094;
  --primary-text-color: var(--light-color-100);
  --secondary-text-color: var(--dark-color-100);
  --modal-z-index: 1000;
  --overlay-z-index: 100;
}

.dotted-background {
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 100%);
  background-size: 10px 10px;
}

:root {
  --accent-color-100: #73a5ff;
  --accent-color-300: #4c8dff;
  --accent-color-500: #397df6;
  --accent-color-700: #2f68cc;
  --accent-color-900: #234e99;
  --success-color-100: #80ffbf;
  --success-color-300: #22e584;
  --success-color-500: #14cc70;
  --success-color-700: #0f9954;
  --success-color-900: #0a6638;
  --danger-color-100: #ff8099;
  --danger-color-300: #f23d61;
  --danger-color-500: #cc1439;
  --danger-color-700: #990f2b;
  --danger-color-900: #660a1d;
  --warning-color-100: #ffd073;
  --warning-color-300: #e5ac39;
  --warning-color-500: #d99000;
  --warning-color-700: #996600;
  --warning-color-900: #664400;
  --dark-color-100: #4c4c4c;
  --dark-color-300: #333333;
  --dark-color-500: #171717;
  --dark-color-700: #0d0d0d;
  --dark-color-900: #000000;
  --light-color-100: #ffffff;
  --light-color-300: #f7fbff;
  --light-color-500: #edf3fa;
  --light-color-700: #d5dae0;
  --light-color-900: #8d9094;
  --primary-text-color: var(--light-color-100);
  --secondary-text-color: var(--dark-color-100);
  --modal-z-index: 1000;
  --overlay-z-index: 100;
}

.dotted-background {
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 100%);
  background-size: 10px 10px;
}

* {
  box-sizing: border-box;
}

img,
svg {
  display: block;
}

html,
body {
  height: 100%;
}

#__next {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color-100);
  background: var(--dark-color-700);
  font-weight: normal;
  position: relative;
}

html {
  overflow-x: hidden;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-wrapper {
  flex: 1 0 auto;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0px 10px 0px 10px;
  display: block;
  margin: auto;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}
.container {
  *zoom: 1;
}

.block-padding {
  padding: 60px 0px 60px 0px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .block-padding {
    padding: 45px 0px 45px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .block-padding {
    padding: 35px 0px 35px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .block-padding {
    padding: 25px 0px 25px 0px;
  }
}

.b-title {
  font-size: 46px;
  line-height: 52px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title {
    font-size: 34px;
    line-height: 42px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title {
    font-size: 28px;
    line-height: 34px;
  }
}
.b-title.bt10 {
  font-size: 10px;
  line-height: 15px;
}
.b-title.bt14 {
  font-size: 14px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .b-title.bt14 {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt14 {
    line-height: 17px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt14 {
    font-size: 12px;
    line-height: 17px;
  }
}
.b-title.bt16 {
  font-size: 16px;
  line-height: 22px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title.bt16 {
    font-size: 15px;
    line-height: 21px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt16 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt16 {
    font-size: 13px;
    line-height: 19px;
  }
}
.b-title.bt18 {
  font-size: 18px;
  line-height: 24px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title.bt18 {
    font-size: 17px;
    line-height: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt18 {
    font-size: 16px;
    line-height: 21px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt18 {
    font-size: 14px;
    line-height: 19px;
  }
}
.b-title.bt20 {
  font-size: 20px;
  line-height: 28px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title.bt20 {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt20 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt20 {
    font-size: 14px;
    line-height: 20px;
  }
}
.b-title.bt22 {
  font-size: 22px;
  line-height: 29px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title.bt22 {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt22 {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt22 {
    font-size: 17px;
    line-height: 24px;
  }
}
.b-title.bt24 {
  font-size: 24px;
  line-height: 31px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title.bt24 {
    font-size: 22px;
    line-height: 29px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt24 {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt24 {
    font-size: 18px;
    line-height: 24px;
  }
}
.b-title.bt26 {
  font-size: 26px;
  line-height: 32px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title.bt26 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt26 {
    font-size: 22px;
    line-height: 28px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt26 {
    font-size: 20px;
    line-height: 28px;
  }
}
.b-title.bt30 {
  font-size: 30px;
  line-height: 36px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title.bt30 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt30 {
    font-size: 23px;
    line-height: 29px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt30 {
    font-size: 17px;
    line-height: 23px;
  }
}
.b-title.bt50 {
  font-size: 50px;
  line-height: 60px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .b-title.bt50 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-title.bt50 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .b-title.bt50 {
    font-size: 24px;
    line-height: 32px;
  }
}
.b-title.color1 {
  color: var(--accent-color-100);
}
.b-title.color6 {
  color: var(--accent-color-100);
}
.b-title.align-center {
  text-align: center;
}
.b-title.light {
  font-weight: 300;
}
.b-title.medium {
  font-weight: 500;
}
.b-title.semibold {
  font-weight: 600;
}
.b-title.bold,
.b-title strong,
.b-title b {
  font-weight: 700;
}

.form-style .f-item {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-style .f-item + .f-item {
  margin-top: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
  .form-style .f-item + .f-item {
    margin-top: 10px;
  }
}
.form-style .f-item label {
  margin-bottom: 5px;
  display: block;
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
  .form-style .f-item label {
    margin-bottom: 3px;
  }
}
.form-style .f-item label span {
  color: var(--danger-color-500);
}
.form-style .error-lbl {
  position: absolute;
  font-size: 11px;
  color: var(--danger-color-500);
  margin-top: 2px;
}
.form-style input[type=text],
.form-style input[type=tel],
.form-style input[type=number],
.form-style input[type=email],
.form-style input[type=password],
.form-style textarea {
  width: 100%;
  height: 45px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 0px 10px;
  border-radius: 2px;
  border: 1px solid var(--light-color-900);
  background-color: transparent;
  color: var(--light-color-900);
  font-size: 16px;
  outline: none;
}
@media only screen and (min-width: 0px) and (max-width: 1199px) {
  .form-style input[type=text],
  .form-style input[type=tel],
  .form-style input[type=number],
  .form-style input[type=email],
  .form-style input[type=password],
  .form-style textarea {
    font-size: 14px;
  }
}
.form-style input[type=text].placeholder,
.form-style input[type=tel].placeholder,
.form-style input[type=number].placeholder,
.form-style input[type=email].placeholder,
.form-style input[type=password].placeholder,
.form-style textarea.placeholder {
  color: var(--light-color-900);
}
.form-style input[type=text]:-moz-placeholder,
.form-style input[type=tel]:-moz-placeholder,
.form-style input[type=number]:-moz-placeholder,
.form-style input[type=email]:-moz-placeholder,
.form-style input[type=password]:-moz-placeholder,
.form-style textarea:-moz-placeholder {
  color: var(--light-color-900);
}
.form-style input[type=text]::-webkit-input-placeholder,
.form-style input[type=tel]::-webkit-input-placeholder,
.form-style input[type=number]::-webkit-input-placeholder,
.form-style input[type=email]::-webkit-input-placeholder,
.form-style input[type=password]::-webkit-input-placeholder,
.form-style textarea::-webkit-input-placeholder {
  color: var(--light-color-900);
}
.form-style input[type=text]:hover,
.form-style input[type=tel]:hover,
.form-style input[type=number]:hover,
.form-style input[type=email]:hover,
.form-style input[type=password]:hover,
.form-style textarea:hover {
  color: var(--light-color-900);
}
.form-style input[type=text][disabled=true],
.form-style input[type=tel][disabled=true],
.form-style input[type=number][disabled=true],
.form-style input[type=email][disabled=true],
.form-style input[type=password][disabled=true],
.form-style textarea[disabled=true] {
  color: var(--dark-color-100);
  border: 1px solid var(--dark-color-100);
}
.form-style input[type=text]:focus.placeholder,
.form-style input[type=tel]:focus.placeholder,
.form-style input[type=number]:focus.placeholder,
.form-style input[type=email]:focus.placeholder,
.form-style input[type=password]:focus.placeholder,
.form-style textarea:focus.placeholder {
  color: var(--light-color-100);
}
.form-style input[type=text]:focus:-moz-placeholder,
.form-style input[type=tel]:focus:-moz-placeholder,
.form-style input[type=number]:focus:-moz-placeholder,
.form-style input[type=email]:focus:-moz-placeholder,
.form-style input[type=password]:focus:-moz-placeholder,
.form-style textarea:focus:-moz-placeholder {
  color: var(--light-color-100);
}
.form-style input[type=text]:focus::-webkit-input-placeholder,
.form-style input[type=tel]:focus::-webkit-input-placeholder,
.form-style input[type=number]:focus::-webkit-input-placeholder,
.form-style input[type=email]:focus::-webkit-input-placeholder,
.form-style input[type=password]:focus::-webkit-input-placeholder,
.form-style textarea:focus::-webkit-input-placeholder {
  color: var(--light-color-100);
}
.form-style input[type=text].error,
.form-style input[type=tel].error,
.form-style input[type=number].error,
.form-style input[type=email].error,
.form-style input[type=password].error,
.form-style textarea.error {
  border-color: var(--danger-color-500);
  color: var(--danger-color-500);
}
.form-style input[type=text].error.placeholder,
.form-style input[type=tel].error.placeholder,
.form-style input[type=number].error.placeholder,
.form-style input[type=email].error.placeholder,
.form-style input[type=password].error.placeholder,
.form-style textarea.error.placeholder {
  color: rgba(var(--danger-color-500), 0.2);
}
.form-style input[type=text].error:-moz-placeholder,
.form-style input[type=tel].error:-moz-placeholder,
.form-style input[type=number].error:-moz-placeholder,
.form-style input[type=email].error:-moz-placeholder,
.form-style input[type=password].error:-moz-placeholder,
.form-style textarea.error:-moz-placeholder {
  color: rgba(var(--danger-color-500), 0.2);
}
.form-style input[type=text].error::-webkit-input-placeholder,
.form-style input[type=tel].error::-webkit-input-placeholder,
.form-style input[type=number].error::-webkit-input-placeholder,
.form-style input[type=email].error::-webkit-input-placeholder,
.form-style input[type=password].error::-webkit-input-placeholder,
.form-style textarea.error::-webkit-input-placeholder {
  color: rgba(var(--danger-color-500), 0.2);
}
.form-style textarea {
  padding: 10px;
  resize: none;
  height: 120px;
}
@media only screen and (min-width: 0px) and (max-width: 1199px) {
  .form-style textarea {
    height: 120px;
  }
}
.form-style input[type=number]::-webkit-inner-adjust-hue-button,
.form-style input[type=number]::-webkit-outer-adjust-hue-button {
  -webkit-appearance: none;
  margin: 0;
}

.styled-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 29px;
}
.styled-checkbox label {
  cursor: pointer;
}
.styled-checkbox input[type=checkbox] {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.auth-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
  background: var(--dark-color-500);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid var(--dark-color-300);
  width: 420px;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-form {
    padding: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-form {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .auth-form {
    width: 100%;
    padding: 15px;
  }
}
.auth-form .title + form {
  margin-top: 35px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-form .title + form {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-form .title + form {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .auth-form .title + form {
    margin-top: 15px;
  }
}
.auth-form .image {
  display: flex;
  justify-content: center;
  max-height: 108px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-form .image {
    max-height: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-form .image {
    max-height: 90px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .auth-form .image {
    max-height: 8ƒ0px;
  }
}
.auth-form .image:not(:first-child) {
  margin-top: 30px;
}
.auth-form .image img {
  height: 100%;
}
.auth-form .avatar-wrapper {
  position: relative;
}
.auth-form .avatar-wrapper:not(:first-child) {
  margin-top: 30px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-form .avatar-wrapper:not(:first-child) {
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-form .avatar-wrapper:not(:first-child) {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .auth-form .avatar-wrapper:not(:first-child) {
    margin-top: 15px;
  }
}
.auth-form .avatar-wrapper .avatar {
  display: flex;
  justify-content: center;
}
.auth-form .avatar-wrapper .avatar img {
  width: 96px;
  height: 96px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-form .avatar-wrapper .avatar img {
    width: 86px;
    height: 86px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .auth-form .avatar-wrapper .avatar img {
    width: 80px;
    height: 80px;
  }
}
.auth-form .avatar-wrapper .icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid red;
  background: #ff6666;
  transition: all 0.2s ease-out !important;
}
.auth-form .avatar-wrapper .icon svg {
  fill: white;
}
.auth-form .avatar-wrapper .icon:hover {
  opacity: 0.9;
}
.auth-form .avatar-wrapper .icon:active {
  background-color: #990000;
}
.auth-form .info:not(:first-child) {
  margin-top: 25px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-form .info:not(:first-child) {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
  .auth-form .info:not(:first-child) {
    margin-top: 15px;
  }
}
.auth-form .styled-btn {
  width: 100%;
}
.auth-form .styled-btn:not(:first-child) {
  margin-top: 36px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-form .styled-btn:not(:first-child) {
    margin-top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-form .styled-btn:not(:first-child) {
    margin-top: 30px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .auth-form .styled-btn:not(:first-child) {
    margin-top: 20px;
  }
}
.auth-form .bottom:not(:first-child) {
  margin-top: 30px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-form .bottom:not(:first-child) {
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-form .bottom:not(:first-child) {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .auth-form .bottom:not(:first-child) {
    margin-top: 15px;
  }
}
.auth-form .bottom .b-title + .b-title {
  margin-top: 10px;
}
.auth-form .bottom a {
  display: block;
  text-decoration: none;
  color: red;
  transition: all 0.2s ease-out !important;
}
.auth-form .bottom a:hover {
  color: #cc0000;
}

.styledButton {
  transition: all 0.2s ease-out !important;
  text-align: center;
  text-decoration: none !important;
  outline: none;
  cursor: pointer;
  position: relative;
  border: 0;
  font-family: "Montserrat", sans-serif;
}
.styledButton:hover, .styledButton:focus, .styledButton:active {
  text-decoration: none;
}
.styledButton.styled-btn-1, .styledButton.styled-btn-2 {
  border-radius: 2px;
  border: 0;
  min-height: 36px;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  color: var(--accent-color-500);
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  background: var(--light-color-100);
  box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 1199px) {
  .styledButton.styled-btn-1, .styledButton.styled-btn-2 {
    font-size: 15px;
    line-height: 15px;
    min-width: 180px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
  .styledButton.styled-btn-1, .styledButton.styled-btn-2 {
    min-width: 180px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .styledButton.styled-btn-1, .styledButton.styled-btn-2 {
    min-width: inherit;
    width: 100%;
  }
}
.styledButton.styled-btn-1:after, .styledButton.styled-btn-2:after {
  content: "";
  min-height: inherit;
  font-size: 0;
}
.styledButton.styled-btn-1.disabled, .styledButton.styled-btn-2.disabled {
  background: var(--danger-color-100);
  cursor: not-allowed;
}
.styledButton.styled-btn-1.disabled:hover, .styledButton.styled-btn-2.disabled:hover {
  background: var(--danger-color-100);
}
.styledButton.styled-btn-1:hover {
  background-color: #cc0000;
}
.styledButton.styled-btn-2 {
  color: var(--danger-color-100);
  min-width: 130px;
  background: var(--danger-color-100);
  box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}
.styledButton.styled-btn-2 svg {
  fill: var(--danger-color-100);
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .styledButton.styled-btn-2 svg {
    width: 14px;
    height: 14px;
  }
}
.styledButton.styled-btn-2:hover {
  box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.7), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

input[type=text],
input[type=tel],
input[type=email],
input[type=number],
input[type=password],
textarea,
select {
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.resp-mode {
  position: fixed;
  z-index: 100;
  background: var(--danger-color-500);
  color: var(--light-color-100);
  padding: 3px 5px;
  right: 0;
  bottom: 0;
  font-size: 12px;
  z-index: 999999999999999;
  font-weight: normal;
}
.resp-mode:before {
  content: "full (pc) => ";
}
@media (min-width: 992px) and (max-width: 1199px) {
  .resp-mode:before {
    content: "notebook =>";
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .resp-mode:before {
    content: "tablet =>";
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .resp-mode:before {
    content: "mobile =>";
  }
}
.resp-mode span {
  font-weight: 600;
}

@media (min-width: 0px) and (max-width: 767px) {
  .hidden-on-mobile {
    display: none !important;
  }
}

.show-on-mobile {
  display: none !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .show-on-mobile {
    display: block !important;
  }
}

.block-title {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: var(--dark-color-100);
}

.block-subtitle {
  font-weight: bold;
  font-size: 22px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .block-subtitle {
    font-size: 20px;
  }
}
.block-subtitle:not(:first-child) {
  margin-top: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 1199px) {
  .block-subtitle:not(:first-child) {
    margin-top: 10px;
  }
}

.inputWrapper {
  color: var(--light-color-900);
  font-size: 14px;
  font-family: Inter, sans-serif;
  line-height: 24px;
  margin-top: 15px;
  align-items: center;
  gap: 9px;
  font-weight: 400;
}
.inputWrapper .styledInput {
  outline: none;
  min-width: 279px;
  height: 36px;
  padding: 0 10px;
  border: 1px solid var(--dark-color-100);
  color: var(--light-color-900);
  background: transparent;
  border-radius: 2px;
  font-size: 16px;
  font-family: Inter, sans-serif;
  line-height: 24px;
}
.inputWrapper .styledInput:active {
  border-radius: 2px;
  border: 1px solid var(--light-color-500);
  background: var(--dark-color-500);
}
.inputWrapper .styledInput:hover {
  color: var(--light-color-900);
}
.inputWrapper .styledInput:focus {
  color: var(--light-color-900);
  border-radius: 2px;
  border: 1px solid var(--accent-color-700);
}
.inputWrapper .styledInput.errorInput {
  border-radius: 2px;
  border: 1px solid var(--danger-500, #cc1439) !important;
}

.errorInput {
  border-radius: 2px;
  border: 1px solid var(--danger-500, #cc1439);
}

.error {
  position: absolute;
  font-size: 14px;
  color: var(--danger-color-500);
  font-weight: 400;
  line-height: 24px;
}

.Button {
  min-width: 182px;
  font-weight: 600;
  padding: 6px 24px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.primary {
  color: var(--light-color-500);
  background-color: var(--accent-color-500);
}
.primary:hover {
  background-color: var(--accent-color-100);
  color: var(--light-color-100);
}
.primary:active {
  background-color: var(--accent-color-700);
  color: var(--light-color-500);
}
.primary:focus {
  outline: 2px solid var(--accent-color-700);
  color: var(--primary-text-color);
}
.primary[disabled=true] {
  background-color: var(--accent-color-900);
  color: var(--light-color-900);
}

.secondary {
  color: var(--primary-text-color);
  background-color: var(--dark-color-300);
}
.secondary:hover {
  background-color: var(--dark-color-100);
  color: var(--light-color-100);
}
.secondary:active {
  background-color: #212121;
}
.secondary:focus {
  outline: 1px solid var(--accent-color-300);
  color: var(--primary-text-color);
}
.secondary[disabled=true] {
  background-color: var(--dark-color-500);
  color: var(--light-color-900);
}

.outlined {
  color: var(--accent-color-500);
  background-color: transparent;
  border: 1px solid var(--accent-color-500);
}
.outlined:hover {
  color: var(--accent-color-100);
  border: 1px solid var(--accent-color-100);
}
.outlined:active {
  color: var(--accent-color-700);
  border: 1px solid var(--accent-color-700);
}
.outlined:focus {
  color: var(--accent-color-700);
  border: 2px solid var(--accent-color-700);
}
.outlined[disabled=true] {
  color: var(--accent-color-900);
  border: 1px solid var(--accent-color-900);
}

.text {
  width: auto;
  color: var(--accent-color-500);
  background-color: transparent;
}
.text:hover {
  color: var(--accent-color-100);
}
.text:active {
  color: var(--accent-color-700);
}
.text:focus {
  color: var(--accent-color-700);
  border: 2px solid var(--accent-color-700);
}
.text[disabled=true] {
  color: var(--accent-color-900);
}

.info {
  margin-bottom: 7px;
}

.linkRegistration {
  color: var(--accent-color-500);
  text-decoration: none;
}
.linkRegistration:hover {
  text-decoration: underline;
}

.linkRecovery {
  display: inline-block;
  float: right;
  color: var(--accent-color-500);
  text-decoration: none;
}
.linkRecovery:hover {
  text-decoration: underline;
}

.passwordWrapper {
  margin-top: 0;
  position: relative;
}

.eye {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 65%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 22px;
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 13px;
}