.wrapper {
  padding-top: 36px;
}

.forgotPassword {
  font-size: 14px;
  font-family: Inter, sans-serif;
  line-height: 24px;
  float: right;
}
.forgotPassword .forgotPasswordLink {
  color: var(--light-color-900);
}
.forgotPassword:not(:last-child), .forgotPassword:not(:first-child) {
  margin: 48px 0 24px 0;
}

.signInButton {
  width: 100%;
}