//PostDetails

.modal {
  @media (max-width: 768px) {
    display: none;
  }
}

.mainBlock {
  max-width: 980px;

  .imageContainer {
    flex: 0 0 490px;
    @media (max-width: 1024px) {
      flex-shrink: 0.3;
    }
  }
}

.buttonClose {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: -35px;
  right: -30px;
}


//PostOptionsDropdown

.MenuContent {
  button {
    all: unset;
  }

  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 10px;
  gap: 10px;

  .buttonItem {
    display: flex;
    gap: 12px;
    font-size: 14px;
    align-items: center;
  }
}

//PostHeader

.headerBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #4C4C4C;
  padding: 15px 20px;

  .name {
    font-size: 15px;
  }
}

.imageAvatar {
  margin: 6px 10px 0 0;
  border-radius: 50%;
}

.noBorder {
  border: none;
}


//Publication
.publicationBlock {
  width: 100%;
  padding: 0 22px 0 22px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 200px;
}

.textArea {
  height: 114px;
}

//PublicationDescription

.publicationFooter {
  border-top: 1px solid #4c4c4c;
  width: 100%;
  padding: 10px 22px 5px 22px;
  border-bottom: 1px solid #4c4c4c;
}

.itemDescription {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  margin: 15px 0 5px 0;
  color: var(--light-color-100)
}

.itemName {
  font-weight: 600;
  margin-right: 4px;
  line-height: 24px;
  font-size: 14px;
}

.itemText {
  line-height: 24px;
  font-size: 14px;
}

.itemTimestamp {
  color: var(--light-color-900);
  font-size: 12px;
  margin-top: 5px;
}


.addInput {
  outline: 0;
  padding: 22px;
  width: 100%;
  border: none;
  background: var(--dark-color-300);
  color: var(--dark-color-500);

  &::placeholder {
    font-size: 14px;
  }
}

.itemDescriptionChildren {
  margin-top: 16px;
}

.iconBlockContainer {
  button {
    all: unset;
  }

  display: flex;
  justify-content: space-between;
}

.iconBlockLeft {
  display: flex;
  gap: 16px;
}

.likeBlockContainer {
  display: flex;
  align-items: center;
  margin: 16px 0 0 0;
}

.likes {
  font-size: 14px;
}

.date {
  color: #8D9094;
  font-size: 12px;
}

.addCommentBlockContainer {
  display: flex;
  width: 100%;
}


