.info {
  margin-bottom: 7px;
  color: #8D9094;
}

.link-registration {
  color: var(--accent-color-500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.signup_passwordWrapper__Byu65 {
  width: 100%;
}

.auth-form .info:not(:first-child) {
  margin-top: 35px !important;
}


.link-recovery {
  display: inline-block;
  float: right;
  color: var(--accent-color-500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.password-wrapper {
  margin-top: 0;
  position: relative;
}

.eye {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 65%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 22px;
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 13px;
}

.b-title.bt16 {
  padding-bottom: 30px;
  padding-top: 30px;
}



  .label {
    font-size: 14px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .error {
    color: var(--danger-500, #CC1439);
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    .input {
      border-color: 1px solid var(--danger-500, #CC1439);

    }
  }


