.Skeleton {
  width: 100%;
  height: 50px;
  position: relative;
  box-shadow: 0 2px 10px 0 #1b1b1b;
  background: #2b2b2b;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 80%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(to right, transparent 0%, #454545 50%, transparent 100%);
    background-repeat: no-repeat;
  }
}

@keyframes placeHolderShimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}
