.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-color-700);
  border-bottom: solid 1px var(--dark-color-300);
  z-index: 1001;

  .header {
    width: 100%;
    height: var(--header-height);
    padding-left: 16px;

    @media (max-width: 769px) {
      padding-left: 0;
    }
  }
}
