.featuresWithInfoBlock {
  padding: 12px 24px;
  background-color: var(--dark-color-300);
  border-bottom: 1px solid var(--dark-color-100);
  border-top: 1px solid var(--dark-color-100);
  z-index: 10;
}