.PostList {
  gap: 4px;

  &.extended {
    gap: 36px;
  }

  .item {
    transition: scale .35s ease, opacity .35s linear;

    :hover {
      opacity: 0.7;

      @media (max-width: 769px) {
        opacity: 1;
      }
    }
  }

  &:has(.item:hover) {
    .item:not(:hover) {
      scale: .985;
      opacity: 1;

      @media (max-width: 769px) {
        scale: 1;
      }
    }
  }

  @media (max-width: 769px) {
    gap: 2px;
  }
}

.Story {
  .postList {
    width: 768px;
  }
}