.createPostModal {
  min-width: 490px;
}

.currentStepComponent {
  background-color: var(--dark-color-300);
  border: 1px solid var(--dark-color-100);
  border-top: none;
  animation-duration: .15s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  &.openForward {
    animation-name: visibleToLeft;
    transform-origin: right;
  }

  &.openBackward {
    animation-name: visibleToRight;
    transform-origin: left;
  }

  &.closingForward {
    animation-name: fadeToLeft;
    transform-origin: left;
  }

  &.closingBackward {
    animation-name: fadeToRight;
    transform-origin: right;
  }
}

@keyframes visibleToLeft {
  from {
    opacity: 0;
    transform: scaleX(0);
    backdrop-filter: filter(15px);
  } to {
    opacity: 1;
    transform: scaleX(1);
    backdrop-filter: filter(0);
  }
}

@keyframes visibleToRight {
  from {
    backdrop-filter: filter(15px);
    opacity: 0;
    transform: scaleX(0);
  } to {
    opacity: 1;
    transform: scaleX(1);
    backdrop-filter: filter(0);
  }
}

@keyframes fadeToLeft {
  from {
    transform: scaleX(1);
    backdrop-filter: filter(0);
  } to {
    opacity: 0;
    transform: scaleX(0);
    backdrop-filter: filter(15px);
  }
}

@keyframes fadeToRight {
  from {
    backdrop-filter: filter(0);
    transform: scaleX(1) ;
  } to {
    opacity: 0;
    transform: scaleX(0);
    backdrop-filter: filter(15px);
  }
}