@import "../mixins";

.block-padding {
  padding: 60px 0px 60px 0px;

  @include nb {
    padding: 45px 0px 45px 0px;
  }

  @include tb {
    padding: 35px 0px 35px 0px;
  }

  @include mb {
    padding: 25px 0px 25px 0px;
  }
}
