@import '../mixins';

.b-title {
    font-size: 46px;
    line-height: 52px;
    @include nb {
        font-size: 40px;
        line-height: 48px;
    }
    @include tb {
        font-size: 34px;
        line-height: 42px;
    }
    @include mb {
        font-size: 28px;
        line-height: 34px;
    }
    &.bt10 {
        font-size: 10px;
        line-height: 15px;
    }
    &.bt14 {
        font-size: 14px;
        line-height: 20px;
        @include nbtb {
            font-size: 13px;
            line-height: 18px;
        }
        @include tb {
            line-height: 17px;
        }
        @include mb {
            font-size: 12px;
            line-height: 17px;
        }
    }
    &.bt16 {
        font-size: 16px;
        line-height: 22px;
        @include nb {
            font-size: 15px;
            line-height: 21px;
        }
        @include tb {
            font-size: 14px;
            line-height: 20px;
        }
        @include mb {
            font-size: 13px;
            line-height: 19px;
        }
    }
    &.bt18 {
        font-size: 18px;
        line-height: 24px;
        @include nb {
            font-size: 17px;
            line-height: 22px;
        }
        @include tb {
            font-size: 16px;
            line-height: 21px;
        }
        @include mb {
            font-size: 14px;
            line-height: 19px;
        }
    }
    &.bt20 {
        font-size: 20px;
        line-height: 28px;
        @include nb {
            font-size: 18px;
            line-height: 26px;
        }
        @include tb {
            font-size: 16px;
            line-height: 24px;
        }
        @include mb {
            font-size: 14px;
            line-height: 20px;
        }
    }
    &.bt22 {
        font-size: 22px;
        line-height: 29px;
        @include nb {
            font-size: 20px;
            line-height: 27px;
        }
        @include tb {
            font-size: 18px;
            line-height: 25px;
        }
        @include mb {
            font-size: 17px;
            line-height: 24px;
        }
    }
    &.bt24 {
        font-size: 24px;
        line-height: 31px;
        @include nb {
            font-size: 22px;
            line-height: 29px;
        }
        @include tb {
            font-size: 20px;
            line-height: 27px;
        }
        @include mb {
            font-size: 18px;
            line-height: 24px;
        }
    }
    &.bt26 {
        font-size: 26px;
        line-height: 32px;
        @include nb {
            font-size: 24px;
            line-height: 30px;
        }
        @include tb {
            font-size: 22px;
            line-height: 28px;
        }
        @include mb {
            font-size: 20px;
            line-height: 28px;
        }
    }
    &.bt30 {
        font-size: 30px;
        line-height: 36px;
        @include nb {
            font-size: 26px;
            line-height: 32px;
        }
        @include tb {
            font-size: 23px;
            line-height: 29px;
        }
        @include mb {
            font-size: 17px;
            line-height: 23px;
        }
    }
    &.bt50 {
        font-size: 50px;
        line-height: 60px;
        @include nb {
            font-size: 40px;
            line-height: 50px;
        }
        @include tb {
            font-size: 32px;
            line-height: 40px;
        }
        @include mb {
            font-size: 24px;
            line-height: 32px;
        }
    }
    &.color1 {
        color: var(--accent-color-100);
    }
    &.color6 {
        color: var(--accent-color-100);
    }
    &.align-center {
        text-align: center;
    }
    &.light {
        font-weight: 300;
    }
    &.medium {
        font-weight: 500;
    }
    &.semibold {
        font-weight: 600;
    }
    &.bold,
    strong,
    b {
        font-weight: 700;
    }
}