.content {
  background-color: var(--dark-color-300);
  border: 1px solid var(--dark-color-100);
  border-top: none;

  .imgPlaceholder {
    width: 220px;
    height: 220px;
    background-color: var(--dark-color-500);
    border-radius: 2px;
  }
}