@import "../mixins";

.block-padding {
    padding: 60px 0 60px 0;

    @include nb {
        padding: 45px 0 45px 0;
    }

    @include tb {
        padding: 35px 0 35px 0;
    }

    @include mb {
        padding: 25px 0 25px 0;
    }
}