.Card {
  font-size: 14px;
  background-color: var(--dark-color-500);
  border: 1px solid var(--dark-color-300);
  border-radius: 2px;
  padding: 12px 24px;

  @media (max-width: 769px) {
    padding: 6px 12px;
  }
}