.CommentCard {
  .avatarWrapper {
    margin-top: 4px;
  }

  .content {
    font-size: 14px;
    display: inline-block;

    .username {
      margin-right: 4px;
      font-weight: 700;
    }
  }

  .infoBlock {
    font-size: 12px;
    color: var(--light-color-900);

    .answer {
      cursor: pointer;
    }
  }
}