:root {
  // colors
  --accent-color-100: #73A5FF;
  --accent-color-300: #4C8DFF;
  --accent-color-500: #397DF6;
  --accent-color-700: #2F68CC;
  --accent-color-900: #234E99;

  --success-color-100: #80FFBF;
  --success-color-300: #22E584;
  --success-color-500: #14CC70;
  --success-color-700: #0F9954;
  --success-color-900: #0A6638;

  --danger-color-100: #FF8099;
  --danger-color-300: #F23D61;
  --danger-color-500: #CC1439;
  --danger-color-700: #990F2B;
  --danger-color-900: #660A1D;

  --warning-color-100: #FFD073;
  --warning-color-300: #E5AC39;
  --warning-color-500: #D99000;
  --warning-color-700: #996600;
  --warning-color-900: #664400;

  --dark-color-100: #4C4C4C;
  --dark-color-300: #333333;
  --dark-color-500: #171717;
  --dark-color-700: #0D0D0D;
  --dark-color-900: #000000;

  --light-color-100: #FFFFFF;
  --light-color-300: #F7FBFF;
  --light-color-500: #EDF3FA;
  --light-color-700: #D5DAE0;
  --light-color-900: #8D9094;

  --primary-text-color: var(--light-color-100);
  --secondary-text-color: var(--dark-color-100);

  // z - indexes
  --modal-z-index: 1000;
  --overlay-z-index: 100;
}
.dotted-background {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
}


