.Tabs {
  position: relative;

  .Tab {
    position: relative;
    flex-grow: 1;
    min-width: max-content;
    text-align: center;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-color-100);
    background: transparent;
    cursor: pointer;

    transition: all .2s linear;
  
    &:active {
      background: rgba(115, 165, 255, .15);
    }
  
    &:hover {
      background: rgba(35, 78, 153, .15);
    }
  
    &:focus {
      border-radius: 2px;
      border: 2px solid var(--accent-color-700);
    }
  
    &:disabled {
      color: var(--dark-color-300);
    }
  
    &.selected {
      color: var(--accent-color-500);

      &:disabled {
        color: var(--accent-color-500);
        opacity: 0.15;
      }
    }

    .underline {
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background: var(--dark-color-100);
      bottom: 0;
    }
  }

  .activeUnderline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: var(--accent-color-500);

    transition: all .2s ease-in-out;
  }
}

