.inputWrapper {
  color: var(--light-color-900);
  font-size: 14px;
  line-height: 24px;

  align-items: center;
  gap: 9px;
  font-weight: 400;

  &.full {
    width: 100%;

    .styledInput {
      min-width: 100%;
    }
  }

  label {
    display: block;
  }

  .styledInput {
    outline: none;
    min-width: 279px;
    height: 36px;
    padding: 0 10px;
    border: 1px solid var(--dark-color-100);
    color: var(--light-color-100);
    background: transparent;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;

    &:active {
      //border-radius: 2px;
      border: 1px solid var(--light-color-500);
      background: var(--dark-color-500);
    }

    &:hover {
      border: 1px solid var(--light-color-900);
    }

    &:focus {
      //border-radius: 2px;
      border: 1px solid var(--accent-color-700);
    }

    &.errorInput {
      //border-radius: 2px;
      border: 1px solid var(--danger-500, #cc1439) !important;
    }
  }
}

.errorBlock {
  height: 25px;
}

.error {
  position: absolute;
  font-size: 14px;
  color: var(--danger-color-500);
  font-weight: 400;
}
