.inputWrapper {
  color: var(--light-color-900);
  font-size: 14px;
  font-family: Inter, sans-serif;
  line-height: 24px;
  margin-top: 15px;

  align-items: center;
  gap: 9px;
  font-weight: 400;

  .styledInput {
    outline: none;
    min-width: 279px;
    height: 36px;
    padding: 0 10px;
    border: 1px solid var(--dark-color-100);
    color: var(--light-color-900);
    background: transparent;
    border-radius: 2px;
    font-size: 16px;
    font-family: Inter, sans-serif;
    line-height: 24px;

    &:active {
      border-radius: 2px;
      border: 1px solid var(--light-color-500);
      background: var(--dark-color-500);
    }

    &:hover {
      color: var(--light-color-900);
    }

    &:focus {
      color: var(--light-color-900);
      border-radius: 2px;
      border: 1px solid var(--accent-color-700);
    }
    &.errorInput {
      border-radius: 2px;
      border: 1px solid var(--danger-500, #cc1439) !important;
    }
  }
}

.input:focus {
}

.input {
}

.inputWrapper {
}

.superInput {
}

.errorInput {
  border-radius: 2px;
  border: 1px solid var(--danger-500, #cc1439);
}

.errorInput:focus {
}

.error {
  position: absolute;
  font-size: 14px;
  color: var(--danger-color-500);
  font-weight: 400;
  line-height: 24px;
}