.trigger {
  width: 170px;
}

.item {
  padding-right: 16px;
}

.value {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .trigger {
    width: max-content;
    border: 0;
  }
  .content {
    border: 0;
  }
  .value {
    span.lngName {
      display: none; 
    }
  }
}
