.DropdownTrigger {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  background: none;
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

.DropdownContent {
  min-width: var(--radix-dropdown-menu-trigger-width);
  min-height: var(--radix-dropdown-menu-trigger-height);
  padding: 12px 0;
  color: var(--primary-text-color);
  background-color: var(--dark-color-500);
  border: 1px solid var(--dark-color-100);
  border-radius: 2px;
  overflow: hidden;
  z-index: 1100;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.DropdownContent[data-side='top'] {
  animation-name: slideDownAndFade;
}

.DropdownContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}

.DropdownContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.DropdownContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownItem {
  width: 100%;
  padding: 6px 12px;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
