.addCommentBlockContainer {
  display: flex;
  width: 100%;
}

.addInput {
  outline: 0;
  padding: 18px 0;
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 14px;

  &::placeholder {
    font-size: 14px;
  }
}