.header {
  height: auto;

  &.modal {
    padding: 12px 24px;
  }

  .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--light-color-700);
  }

  .date {
    font-size: 12px;
    color: var(--light-color-900);
  }
}