.CitySelect {
  position: relative;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: Inter, sans-serif;
  line-height: 24px;
  background-color: var(--dark-color-700);

  &.max {
    width: 100%;
  }

  .citiesList {
    position: absolute;
    left: 0;
    top: 100%;
    width: inherit;
    border-left: 1px solid var(--dark-color-100);
    border-right: 1px solid var(--dark-color-100);
    background-color: var(--dark-color-700);
    z-index: 100;

    .cityItem {
      width: inherit;
      padding: 6px 12px;
      cursor: pointer;
      transition: all .2s linear;
      
      border-bottom: 1px solid var(--dark-color-100);

      &:hover {
        background-color: var(--dark-color-100);
      }
    }
  }
}