.wrapper {
  padding-top: 36px;
}

.forgotPassword {
  font-size: 14px;
  line-height: 24px;
  float: right;

  .forgotPasswordLink {
    color: var(--light-color-900);
  }

  &:not(:last-child),
  &:not(:first-child) {
    margin: 30px 0 0 0;
  }
}

.signInButton {
  width: 100%;
}

.error {
  position: absolute;
  font-size: 14px;
  color: var(--danger-color-500);
  font-weight: 400;
  line-height: 24px;
}