.wrapper {
  padding-top: 36px;
}

.forgotPassword {
  font-size: 14px;
  line-height: 24px;
  align-self: flex-end;
  margin-top: 12px;

  .forgotPasswordLink {
    color: var(--light-color-900);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 11px;
}

.signInButton {
  width: 100%;
}

.error {
  position: absolute;
  font-size: 14px;
  color: var(--danger-color-500);
  font-weight: 400;
  line-height: 24px;
}