.MenuContent {
  button {
    all: unset;
  }

  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 10px;
  gap: 10px;

  .buttonItem {
    display: flex;
    gap: 12px;
    font-size: 14px;
    align-items: center;
  }
}