.info {
  margin-bottom: 7px;
}

.linkRegistration {
  color: var(--accent-color-500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.linkRecovery {
  display: inline-block;
  float: right;
  color: var(--accent-color-500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.passwordWrapper {
  margin-top: 0;
  position: relative;
}

.eye {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 65%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 22px;
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 13px;
}

.agreeBlock {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #0a6638;
}
