.Pagination {
  font-size: 14px;
  color: var(--light-color-100);
  display: flex;
  gap: 24px;

  &:focus {
    outline: 2px solid var(--accent-color-700);
  }
  
  .paginationContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    .paginationItem {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 2px;
      cursor: pointer;

      &.active {
        background-color: var(--light-color-100);
        color: var(--dark-color-900);
      }

      &.placeholder {
        align-items: flex-end;
        cursor: auto;
      }

      &.disabled {
        cursor: auto;

        svg path {
          fill: var(--dark-color-100);
          pointer-events: none;
        }
      }

      &:hover:not(&.active) {
        background-color: var(--dark-color-300);
        transition: background-color .2s linear;
      }

      &:focus-within {
        outline: 2px solid var(--accent-color-700);
      }

      .backBtn, .nextBtn {
        cursor: pointer;

        &:disabled {
          pointer-events: none;
          cursor: auto;
        }
      }
    }
  }

  .selectContainer {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    .selectTrigger {
      display: inline-flex;
      gap: 2px;
      padding: 2px 6px;
      border-radius: 2px;
      background-color: var(--dark-color-500);
    }
  }
}

.selectItem {
  font-size: 14px;
  gap: 2px;
  padding: 2px 6px;
  background-color: var(--dark-color-500);
}