.Modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 60%;
  background-color: var(--dark-color-300);
  border: 1px solid var(--dark-color-100);
  transform: scale(0.5);
  transition: transform 0.2s;
  z-index: var(--modal-z-index);

  @media (max-width: 1650px) {
    max-width: 95%;
  }
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}

.header {
  //width: -webkit-fill-available;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-color-100);
  gap: 48px;

  @media (max-width: 769px) {
    padding: 12px 18px;
  }

  .title {
    font-size: 20px;
    line-height: 1.8;
    font-weight: 700;
  }

  .close {
    cursor: pointer;
  }
}

.body {
  //width: -webkit-fill-available;
  padding: 24px;

  @media (max-width: 769px) {
    padding: 24px 15px;
  }
}